<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Loading...</h4>
        <!-- ------ Blue Progress bar ------ -->
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [attr.ariaValueNow]="percent1"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="percent1 + '%'"
          ></div>
        </div>
        <!-- -------------------------------- -->
        <br />
        <!-- ------ Green Progress bar ------ -->
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            [attr.ariaValueNow]="percent2"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="percent2 + '%'"
          ></div>
        </div>
        <!-- -------------------------------- -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementor
          (valueChanged)="percent1 = $event"
          name="Blue progress"
          [percent]="percent1"
        ></app-incrementor>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementor
          (valueChanged)="percent2 = $event"
          name="Green progress"
          [percent]="percent2"
        ></app-incrementor>
      </div>
    </div>
  </div>
</div>
